.btn {
    height: 200px;
    width: 200px;
    background-color: rgb(227, 227, 174);
    color: purple;
    font-size: larger;
    border-radius: 25px;
    
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}